div {
  height: 200px;
  width: 200px;
  background-color: green;
  color: white;
  font-weight: 700;
  font-size: 20px;
  position: fixed;
  right: 5px;
  background-image: url("chair.jpg");
  background-size: cover;
}
