* {
  background-color: #dcb7d3f6;
  color: #00439d;
}
h1 {
  text-align: centre;
  text-decoration: 4px dashed underline #dc5c7ff6;
}
h3 {
  background-color: #6e83dcf6;
  color: white;
  border: 2px dotted white;
}

div {
  height: 250px;
  width: 100px;
  margin: 5px;
  padding: 5px;
  display: inline-block;
}
#orangediv {
  background-color: orange;
  color: green;
}
#whitediv {
  background-color: white;
  color: #005c9d;
}
#greendiv {
  background-color: green;
  color: orange;
}
