#navbar {
  height: 60px;

  background-color: black;
  border: 5px solid white;
}
#logo {
  font-size: 30px;
  color: #ba7a0f;
}
button {
  background-color: #ba7a0f;
}
a {
  margin-right: 70px;
  text-decoration: none;
  color: white;
}

#content {
  height: 750px;
}
.contentbox {
  height: 100px;
  width: 100px;
  border: 2px solid red;
  display: inline-block;
  margin: 5px;
  padding: 5px;
}

#div1 {
  background-color: rgba(255, 0, 0, 0.5);
}
#div2 {
  background-color: rgba(255, 145, 0, 0.5);
}
#div3 {
  background-color: rgba(0, 145, 255, 0.5);
}

footer {
  background-color: black;
  color: white;
  text-align: center;
}
