* {
  background-color: #6724d7;
  color: white;
  text-align: center;
  font-size: 40px;
}
h1 {
  border: 2px solid #d7c37d;
}
h2 {
  border: 4px dashed #d7c37d;
  text-align: center;
  font-size: 60px;
}
div {
  height: 200px;
  width: 170px;
  background-color: #bc8fd7;
  border: 3px solid #d7c37d;
  display: inline-block;
  margin: 10px;
  border-radius: 10px;
}
.cloths {
  height: 1000px;
  width: 1000px;
  margin: 40px;
  border: 7px solid black;
  background-color: #4400d7;
}
#cloth2 {
  display: flex;
  flex-direction: row;
}
#cloth3 {
  display: flex;
  flex-direction: row-reverse;
}
#cloth4 {
  display: flex;
  flex-direction: column;
}
#cloth5 {
  display: flex;
  flex-direction: column-reverse;
}
