* {
  background-color: #6724d7;
  color: white;
  text-align: center;
  font-size: 40px;
}
h1 {
  border: 2px solid #d7c37d;
}
h5 {
  font-weight: 100;
  text-decoration: underline 2px white;
  font-size: 30px;
}
h2 {
  border: 4px dashed #d7c37d;
  text-align: center;
  font-size: 60px;
}
div {
  height: 200px;
  width: 170px;
  background-color: #bc8fd7;
  border: 3px solid #d7c37d;
  display: inline-block;
  margin: 10px;
  border-radius: 10px;
}
.cloths {
  height: 1000px;
  width: 1000px;
  margin: 40px;
  border: 7px solid black;
  background-color: #4400d7;
}
#cloth2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
#cloth3 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}
#cloth4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#cloth5 {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  height: 1500px;
}
#clothr1 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}
#clothr2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}
#clothr3 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
