* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  border: border-box;
}
.navbar {
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.border {
  border: 1.5px solid transparent;
}
.border:hover {
  border: 1.5px solid white;
}
/* box-1 */
.amazonlogo {
  margin: 1px;
  height: 50px;
  width: 110px;
}
.logo {
  background-image: url("./images/amazon_logo.png");
  background-size: cover;
  height: 50px;
  width: 100%;
}
/* box-2 */
.add-deliver {
  color: #cccccc;
  font-size: 0.85rem;
  margin-left: 13px;
}
.add-india {
  font-size: 1rem;
  margin: 4px;
  font-weight: 600;
}
.add-loc {
  width: 100px;
  display: flex;
  align-items: center;
}
/* box-3 */
.nav-search {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(242, 186, 3);
  width: 750px;
  height: 40px;
  border-radius: 4px;
}
.nav-search:hover {
  border: 2px solid orange;
}
.search-all {
  padding-left: 10px;
  width: 50px;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
}
.search-input {
  width: 100%;
  font-size: 1rem;
  border: none;
}
.search-icon {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
/* box-en */
.en {
  width: 70px;
  padding-top: 18px;
  font-size: 1rem;
  font-weight: 700;
}
/* box-4 */
.nav-sign {
  width: 120px;
}
.nav-first {
  font-size: 0.7rem;
}
.nav-second {
  font-size: 0.9rem;
  font-weight: 700;
}
/* box-5 */
.nav-return {
  width: 80px;
}
/* box-6 */
.nav-cart i {
  font-size: 33px;
}
.nav-cart {
  font-size: 1rem;
  font-weight: 700;
}
/* Small navbar  */
.panel {
  background-color: #323737;
  height: 40px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.panel-all {
  font-size: 0.9;
  font-weight: 700;
  width: 60px;
}
.panel-all i {
  font-size: 22px;
}
.panel-options p {
  display: inline;
  font-size: 0.78rem;
  margin-left: 15px;
}
.panel-options {
  width: 80%;
}
.panel-deals {
  font-size: 0.9rem;
  font-weight: 700;
}
/* Hero Sectio  */
.hero-section {
  background-image: url("./images/hero_image.jpg");
  background-size: cover;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.hero-msg {
  background-color: white;
  color: black;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
  width: 70%;
  margin-bottom: 25px;
}
.hero-msg-a {
  color: blue;
  text-decoration: none;
}
/* shop Section  */
.shop-section {
  background-color: #e2e7e6;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.box {
  height: 420px;
  margin: 12px;
  width: 23%;
  background-color: white;
  /* border: 2px solid black; */
}
.box1 {
  padding: 20px 0px 15px;
}
.box-img {
  background-size: cover;
  height: 330px;
  margin: 15px 18px 20px 18px;
}
.box1-h2 {
  padding-left: 18px;
}
.box1-a {
  padding-left: 20px;
}
/* Footer Section  */
footer {
  margin-top: 15px;
}
.foot-panel {
  background-color: #37475a;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
}
.foot-panel2 {
  background-color: #222f3d;
  color: white;
  height: 500px;
  display: flex;
  justify-content: space-evenly;
}
ul a {
  color: #dddddd;
  display: block;
  font-size: 0.85rem;
  margin-top: 10px;
  text-decoration: none;
}
.foot-panel2-a:hover {
  color: white;
  text-decoration: 1px solid underline;
}
ul p {
  font-weight: 700;
  margin-top: 80px;
}
.foot-panel3 {
  background-color: #222f3d;
  color: white;
  border-top: 0.5px solid;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.foot-panel3-logo {
  background-image: url("./images/amazon_logo.png");
  background-size: cover;
  width: 100px;
  height: 50px;
  margin-right: 70px;
}
.foot-panel3-box {
  height: 30px;
  width: 150px;
  font-size: 0.85rem;
  border: 0.5px solid;
  margin-right: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.foot-panel3-box i {
  margin-right: 10px;
}
/* foot panel 5 */
.footpanel5 {
  background-color: #242424;
  height: 60px;
  font-size: 0.8rem;
  color: white;
  text-align: center;
  padding-top: 25px;
}
.foot-panel5 a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}
.foot-panel5 i {
  margin-left: 0px;
  background-color: blue;
  color: white;
}
.foot-panel5-p {
  margin-top: 5px;
  color: white;
}
