h5 {
  color: rgb(10, 203, 100);
}
h6 {
  color: rgba(255, 0, 0, 0.385);
}
h3 {
  color: rgb(149, 149, 227);
}
h4 {
  color: rgb(246, 5, 45);
}
h1 {
  color: rgb(9, 194, 211);
}
h2 {
  color: orange;
}
