* {
  background-color: #beadfa;
}
h1 {
  color: #313866;
  border: 2px dashed #974ec3;
  padding-left: 100px;
  text-decoration: 2px solid line-through;
}
h3 {
  color: #0a5374;
  text-decoration: 4px solid underline #740048;
  border: 3px dotted #740005;
  padding: 15px;
}
